<table>
<form>
    <tr>
    <td>sno</td>
        <td><input type="text" ng-model="sno"></td>
    </tr>
    <tr>
    <td>name</td>
        <td><input type="text" ng-model="name"></td>
    </tr>
     <tr>
    <td>age</td>
        <td><input type="text" ng-model="age"></td>
    </tr>
     <tr>
    <td>email</td>
        <td><input type="text" ng-model="email"></td>
    </tr>
     <tr>
    <td colspan=2><center>
        <td><input type="button" value="add"></center></td>
    </tr>
    </form>
</table>